* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 12pt;
  scroll-behavior: smooth;
}

.page {
  --color-bg: black;
  --color-em: hsl(56,38%,60%);
  --color-fg: white;
  --color-hover: hsl(240,30%,90%);
  --color-link: hsl(16,100%,70%);
  --color-visited: hsl(0,79%,75%);
  --shade-1: hsl(0,0%,5%);
  --shade-2: hsl(0,0%,15%);
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: Verdana, sans-serif;
  font-size: 1.1rem;
  line-height: 2;
  margin: 0;
  position: relative;
  transition: 0.3s;
}

.page--light {
  --color-bg: hsl(60,60%,95%);
  --color-em: hsl(56,38%,25%);
  --color-fg: black;
  --color-hover: hsl(240,30%,50%);
  --color-link: hsl(16,100%,30%);
  --color-visited: hsl(0,79%,35%);
  --shade-1: hsl(60,60%,85%);
  --shade-2: hsl(60,60%,75%);
}

.nav {
  background-color: transparent;
  height: calc(100vh - 2vmax);
  overflow: hidden;
  position: fixed;
  right: 2vmax;
  scroll-behavior: smooth;
  top: 2vmax;
  z-index: 1;
}

.nav--open {
  overflow-y: auto;
}

.nav__button, .theme {
  background-color: var(--shade-1);
  border: 2px solid var(--color-fg);
  border-radius: 7px;
  color: var(--color-fg);
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  transition: 0.3s;
}

.nav__button {
  position: absolute;
  right: 0;
  top: 0;
}

.nav__button:hover, .theme:hover {
  background-color: var(--shade-2);
  padding: 10px;
}

.nav--open .nav__button {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

.menu, .menu__dropdown {
  list-style-type: none;
}

.menu__item {
  border: 2px solid var(--color-fg);
  cursor: default;
  font-size: 1rem;
  margin: 10px 0;
  padding-right: 15px;
  position: relative;
  right: -400px;
  text-align: right;
  top: 60px;
  transition: 0.3s;
  width: 260px;
}

.menu__item:nth-child(odd) {
  background-color: var(--shade-1);
}

.menu__item:nth-child(even) {
  background-color: var(--shade-2);
}

.nav--open .menu__item {
  right: 0;
}

.menu__dropdown {
  display: none;
  opacity: 0;
}

.menu__item .up {
  display: block;
}

.menu__item .down {
  display: none;
}

.has-dropdown--dropped .up {
  display: none;
}

.has-dropdown--dropped .down {
  display: block;
}

.has-dropdown--dropped .menu__dropdown {
  animation: fade-in 0.6s forwards;
  display: block;
  opacity: 1;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  33% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.menu__dropdown .menu__item {
  margin-left: 10px;
  top: 0;
  width: 185px;
}

.arrow {
  animation: go-down 3s linear infinite;
  font-size: 1.3rem;
  font-weight: bold;
  left: 5px;
  position: absolute;
  top: 0;
  transform: translateY(-15%);
}

@keyframes go-down {
  0% {
    transform: translateY(-15%);
  }
  7% {
    transform: translateY(-5%);
  }
  14% {
    transform: translateY(-15%);
  }
  21% {
    transform: translateY(-5%);
  }
  28% {
    transform: translateY(-15%);
  }
  42% {
    transform: translateY(-15%);
  }
  49% {
    transform: translateY(-5%);
  }
  56% {
    transform: translateY(-15%);
  }
  63% {
    transform: translateY(-5%);
  }
  70% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(-15%);
  }
}

.flag {
  font-size: 1.3em;
  font-style: normal;
}

.dropdown-text {
  width: 100%;
}

.menu__link {
  color: var(--color-fg);
  display: block;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
}

.menu__link:hover, .dropdown-text:hover {
  text-decoration: underline;
}

.header__frame {
  border: 5px solid var(--color-fg);
  border-radius: 20px;
  display: flex;
  margin: 20px auto;
  max-width: 70%;
  padding: 40px;
  transition: 0.3s;
}

.img-turing {
  border-radius: 20px;
  display: block;
  height: auto;
  max-width: 100%;
  width: 237px;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.name {
  font-size: 2.8rem;
  font-weight: bold;
}

.dates {
  font-size: 1.7rem;
}

.page-author {
  font-size: 1.3rem;
  text-align: center;
}

.img-email {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 70%;
  width: 480px;
}

.theme {
  left: 2vmax;
  position: fixed;
  top: 2vmax;
}

.section {
  border: 5px solid var(--color-fg);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
}

.section:nth-child(odd) {
  background-color: var(--shade-1);
}

.section:nth-child(even) {
  background-color: var(--shade-2);
}

.section__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.disclaimer {
  border: 3px double var(--color-fg);
  margin: 10px auto;
  padding: 0 5px;
  text-align: center;
  transition: 0.3s;
  width: fit-content;
}

.topic {
  margin-left: 25px;
}

.em {
  color: var(--color-em);
  transition: 0.3s;
}

.link:link {
  color: var(--color-link);
  transition: 0.3s;
}

.link:visited {
  color: var(--color-visited);
  transition: 0.3s;
}

.link:active, .link:hover {
  color: var(--color-hover);
  transition: 0.3s;
}

.footer {
  margin-bottom: 20px;
  padding: 0 45px;
}

@media screen and (max-width: 800px) {
  .nav__button {
    font-size: 1rem;
  }

  .header__frame {
    flex-direction: column;
  }

  .img-turing {
    align-self: center;
  }

  .menu__item {
    top: 44px;
  }

  .header__frame {
    margin: 10px auto;
  }

  .section {
    margin: 10px;
    padding: 10px;
  }

  .footer {
    margin-bottom: 10px;
    padding: 0 25px;
  }
}

@media screen and (max-width: 500px) {
  .header__frame {
    margin: 5px auto;
  }

  .section {
    border-width: 3px;
    margin: 5px;
    padding: 5px;
  }

  .footer {
    margin-bottom: 5px;
    padding: 0 13px;
  }
}

@media screen and (max-height: 560px) {
  .nav__button {
    font-size: 1rem;
  }

  .menu__item {
    font-size: 0.8rem;
    margin: 5px 0;
    top: 44px;
    width: 208px;
  }

  .menu__dropdown .menu__item {
    margin-left: 5px;
    width: 148px;
  }

  .flag, .arrow {
    font-size: 1.1rem;
  }
}

@media screen and (max-height: 430px) {
  .nav__button {
    font-size: 0.8rem;
    padding: 3px;
  }
 
  .nav__button:hover {
    padding: 5px;
  }

  .menu__item {
    font-size: 0.65rem;
    margin: 3px 0;
    top: 30px;
    width: 155px;
  }

  .menu__dropdown .menu__item {
    margin-left: 3px;
    width: 110px;
  }

  .flag, .arrow {
    font-size: 0.8rem;
  }
}
